<div class="container-fluid">
  <div class="row p-0">
    <div class="col-12 p-0">
      <div
        class="wrapper bg-black position-relative"
        style="width: 100%; height: 400px"
      >
        <img
          src="https://images.unsplash.com/39/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD%20(1%20of%201)-5.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
          alt="Meditech Pharma Machinery about us page background image"
          style="width: 100%; height: 100%; object-fit: cover; opacity: 0.7"
        />
        <h1
          class="position-absolute text-center fw-bolder text-white"
          style="
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
            font-size: 60px;
          "
        >
          Contact Us
        </h1>
      </div>
    </div>
  </div>
  <div class="row my-5 py-5 px-md-5">
    <div class="col-md-5">
      <img
        src="https://uploads-ssl.webflow.com/5ef0df6b9272f7410180a013/5ef204bb10b93fdbe5e601bb_contact-2860030_1920-1024x683.jpg"
        class="w-100"
        alt="About Us"
      />
    </div>
    <div class="col-md-7">
      <p class="lead">
        <ul>
          <h1>Meditech Pharma Machinery</h1>
          <li class="fs-5 py-2"><b>Phone:</b> +91 7395059329 / +91 9015077510</li>
        <li class="fs-5 py-2"><b>Whatsapp:</b> +91 9328732029</li>
        <li class="fs-5 py-2"><b>Email:</b> meditechpharmamachinery@gmail.com</li>
        <li class="fs-5 py-2"><b>Website:</b> www.meditechpharmamachinery.tk</li>
        <li class="fs-5 py-2"><b>Address:</b> 01, Ambica Industrial Hub, Nr Vatva Railway Bridge, Vatva, Ahmadabad, Gujarat 382440</li>
        </ul>
      </p>
    </div>
  </div>
</div>
